@page "/"
@using razor_files_demo.Models;
@using System.Collections.Generic;

<h1>Hello, Everyone and @username</h1>
<p>Sum: @getSum()</p>

<button @onclick="changename">Change Name</button>
<button @onclick="@(()=>{username = "Jay";testnum++;})">Owner name</button>
@if(testnum%10==0)
{
    <p>LuckyUser</p>
}
else
{
    <p>Try your Luck again</p>
}
@for(int i=0;i<10;i++)
{
    <p>This is the value of @i</p>
}
@foreach(var name in names)
{
    <p>@name</p>
}
@code{
    private string username = "John";
    private int testnum =1;
    private List<string> names;
    protected override void OnInitialized()
    {
        base.OnInitialized();
        names = new List<string> { "Alice", "Bob", "Charlie", "Diana", "Eve", "Frank", "Grace", "Hank", "Ivy", "Jack", "Karen", "Leo", "Mona", "Nina", "Oscar" };
    }
    private string getUserName()
    {
        return username + " Doe";
    }
    private void changename()
    {
        var names = new List<string> { "Alice", "Bob", "Charlie", "Diana", "Eve", "Frank", "Grace", "Hank", "Ivy", "Jack", "Karen", "Leo", "Mona", "Nina", "Oscar" };
        var random = new Random();
        username = names[random.Next(names.Count)];
        testnum++;
    }
    private int getSum()
    {
        return 2+5+10;
    }
}